APP_ENV=development
APP_PORT=8080

MONGO_URI=mongodb://mongo:27017/?replicaSet=rs0
MONGO_DATABASE=blog_management

REDIS_ADDR=redis:6379

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=blog-assets
MINIO_USE_SSL=false

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h